html {
  background-color: #4c494b;
}

canvas {
  position: absolute;
  z-index: 1;
}

html, body, #root {
  min-height: 100%;
  display: grid;
}

.App {
  background-color: transparent;
  z-index: 2;
}
