@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  background-color: #4c494b;
}

svg, canvas {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

html, body, #root {
  height: 100%;
  display: inline-grid;
  width: 100%
}

#root {
  overflow: hidden;
  position: relative;
}

.App {
  position: relative;
  width: 100%;
  max-height: 100%;
  background-color: transparent;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Roboto;
}

.star {
  position: relative;
  transform: translateY(-3rem);
  padding: 50px;
  border-radius: 20px;
  background-color: rgba(18, 26, 39, 0.63);
  text-align: center;
  box-shadow: 0.3rem 0.1rem 0.3rem 0 black;
  transition: 0.3s all;

  &:hover {
    transform: translate(-0.5rem, -3.5rem);
    box-shadow: 0.8rem 0.6rem 0.8rem 0 black;
  }

  > img {
    width: 300px;
    max-width: 50vw;
  }

  hr {
    margin: 20px 50px 30px 50px;
  }

  a {
    text-decoration: none;
  }

  @media all and (orientation: landscape) and (max-width:870px) {
    display: flex;
    align-items: center;
    transform: unset;
    box-shadow: unset;
    border-radius: unset;
    width:100%;
    max-height:100%;
    justify-content: space-around;
    &:hover{
      transform:unset;
      box-shadow: unset;
    }
    img {
      max-width:50vh;
      margin-right: 30px;
    }
  }
}

@keyframes text-highlight {
  0% {
    color: white;
  }
  50% {
    color: #5467b2;
  }
  100% {
    color: white;
  }
}

.text-higlight {
  animation: text-highlight 4s infinite;
}

.author {
  bottom: 3px;
  right: 10%;
  position: absolute;

  a {
    color: #a9a9a933;
    font-size: 0.6rem;
  }
}
